@import url("normalize.css");
@import url("fonts.css");

button, 
button:active, 
button:focus {
    outline: none !important;
}


.modal-open-parent {
  display: none; 
  color: #333;
}

.modal-open-parent {
  position: fixed;
  position1: relative;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 100;
  overflow1: auto;
  overflow-y: scroll;
  text-align: center; }

.modal-content {
  background-color: #ffffff;
  position1: fixed;
  position: relative;
  text-align: left;
  padding: 20px;
  left1: 50%;
  z-index: 100;
  display1: none;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  top: 40px;
  max-width: 1030px;
  overflow-y1: auto;
  overflow-x1: auto;
  overflow1: auto;
  overflow-y1: scroll;
  display: inline-block;
  margin1: 10px 0px;
  margin: 10px 20px;
  min-width: 270px;
  min-width1: 600px;
  margin-bottom: 70px;
  text-align: center;
}


.modal-content h2 {
   text-align: center;
   font-size: 22px;
}

.modal-content label {
   width: 80%;
    display: block;
    margin: auto;
    text-align: left;
}

.modal-content input {
   width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-content input[type="submit"] {
   background-color: #396aca;
    color: #fff;
    border: none;
}

.modal-close {
  display: none; }


.modal-content-show {
  animation: bounce 1.2s; }

@keyframes bounce {
  0% {
    transform: translateY(-1000px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

/*
.cart-back {
  -webkid-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
  transition: all 1s;
}
*/


.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-prev,
.owl-next {
    width: 50px;
    border: 1px solid #e5ddd5;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;

    img {
        max-width: 12px;
    }
}

.owl-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    max-height: 168px;
}

.owl-next {
    float: right;
    margin-right: -58px;
}

.owl-prev {
    float: left;
    margin-left: -58px;
}

.owl-dots {
    margin-top: 40px;
}


.but-menu {
    /*
    position: absolute;
    display: inline-block;
    width: 2.25em;
    height: 0.8em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    top: 0px;
    right: 10px;
    cursor: pointer;
    transition: .5s;
    */


    z-index: 2;
    position: absolute;
    right: 22px;
    top: 10px;

    display: none;
    width: 40px;
    height: 25px;
    margin1: 20px auto;
    border: none;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    cursor: pointer;
    margin-top: 11px;
   
}
/*
.but-menu:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
    border-top: 5px solid #fff;
}
*/

.header__menubtn {
  border: none !important;
  background: transparent;
  cursor: pointer;
  width: 3.75rem;
  height: 40px;
  z-index: 999999; }



.hamburger {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  width: 35px;
  border-radius: 0.125rem;
  position: relative;
  margin-top1: 1.25rem;
  height: 0.3125rem;
  content: "";
  background-color: rgba(255, 255, 255, 0.8); }

.hamburger:hover:before {
  opacity: 0.8; }

.hamburger:hover:after {
  opacity: 0.8; }

.hamburger:before {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  border-radius: 0.125rem;
  position: absolute;
  width: 35px;
  top: -10px;
  height: 0.3125rem;
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  left: 0px; }

.hamburger:after {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  border-radius: 0.125rem;
  position: absolute;
  width: 35px;
  top: 10px;
  height: 0.3125rem;
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  left: 0px; }

.burger-active {
  background-color: rgba(255, 255, 255, 0) !important; }

.burger-active:hover {
  background-color: rgba(255, 255, 255, 0); }

.burger-active:before {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.burger-active:after {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.hamburger-menu {
  z-index: 55555;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(24, 54, 105, 0.87);
  display: none; }



.black-block-open {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow-y: scroll;
    text-align: center;
    overflow: hidden;
}


/*
.but-menu:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
}
*/

body {
    position: relative; 
    overflow1: hidden;
    max-width1: 100%;
}

nav {
    min-height1: 100px;
    background-color1: red;
}

body .owl-dots .owl-dot {
   
   border-radius: 0px;
   border: 1px solid #858483;
   transform: rotate(45deg);
   cursor: pointer;
}

body .owl-dots .owl-dot.active {
    background-color: #353535;
}


.wrap-top {
	background-color: #000;
}

.main-menu {

	
	padding: 0px;
	margin: 0px; 
	

	li {
		display: inline-block;
        padding: 0px 30px;
		a {
			color: #fff;
			text-transform: uppercase;
			font-family: "PTSans NarrowBold", sans-serif;
			font-size: 18px;
			display: block;
            padding: 26px 0px;
            position: relative;
            
            


            &:hover::after {
            	position: absolute;
            	content: "";
            	width: 100%;
            	height: 3px;
            	background-color: #826550;
            	bottom: -3px;
            	left: 0px;
                right: 0px;
            }
		}
	}


}

.but {

    background-color: transparent;
    font-family: "PTSans NarrowBold", sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: 0px;
    padding: 26px 0px;
    position: relative;
    display: block;

    &:hover::after {
        background-image: url("../img/login-tablet-hover.png");
    }

    &::after {
    	position: absolute;
    	content: "";
    	background-image: url("../img/login.png");
    	width: 16px;
    	height: 16px;
    	left: -30px;
    	top: 32px;
    	background-size: cover;

    }

}

.wrap-logo {
    
    background-image: url('../img/bg-index.jpg');
    background-size1: cover;
    background-position: center 0px;
    padding-bottom: 175px;
    .parent-logo {

        padding: 50px 0px 260px 0px;
        text-align: center;
        
    }
}

header {

}

.wrap-number {

    background-color1: #353535;
   
}

.number {

    display: flex;
    max-width: 1110px;
    margin: -175px auto 0px auto;
    position: relative;
    z-index: 1;

    div {
        width: 33.33%;
        display: block;
    }

    & .nub:nth-child(2) {
        

        & div:nth-child(1) {
            background-color: #404040;
        }
    }

    & .nub:nth-child(2) {
        

        & div:nth-child(2) {
            background-color: #353535;
        }
    }

    & .nub:nth-child(3) {
        

        & div:nth-child(1) {
            background-color: #4e4e4e;
        }
    }

    & .nub:nth-child(3) {
        

        & div:nth-child(2) {
            background-color: #404040;
        }
    }

    .nub-text {
        background-color: #fff;
        padding: 40px 56px 2px 56px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/triangle.png');
            width: 23px;
            height: 23px;
            left: -23px;
            top: 40px;
        }

        h3 {
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 40px;
            color: #000;
            line-height: 1.2;
            margin: 0px;
           
        }

        p {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 20px;
        }

        span {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 20px;
            color: #000;
            opacity: 0.3;
        }
    }

    .nub {
        

        div {
            width: 100%;
            padding: 30px;
        }



        .number-block {

            .big-num {
                font-family: "PT Sans Narrow", sans-serif;
                font-size: 72px;
                color: #ffffff;
                display: block;
                line-height: 1.2;
            }


            span {
                font-family: "Myriad Pro Regular", sans-serif;
                font-size: 20px;
                color: #fff;
            }
        }
    }



} 

.info-wrap {
    background-color: #353535;
    margin-top: -175px;;
    padding-top: 250px;
    
    color: #fff;
    position: relative;
    padding-bottom: 200px;
}

.paren-info {

    img {
        max-width: 100px;
        height: 100px;
    }

    div {
        text-align: center;
    }

    .title {
        display: block;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 30px;
        padding: 26px 0px;
    }

    p {

        font-family: "Myriad Pro Regular", sans-serif;
        font-size: 20px;
        padding: 2px 46px;
        margin-top: 0px;
    }
}


.header-triangle_block {
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0rem auto;
}

.header-triangle_image {
    height: 180px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}





.news-title {

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;

}



.but-transparent {

    border: 1px solid #e5ddd5;
    cursor: pointer;

    &:hover span {
        color: #826550;
    }

    span {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: #000;
        display: block;
        padding: 14px;
        text-align: center;
    }
}


.news-wrap {
    border-bottom: 1px solid #e5ddd5;
}

.news {

    margin: 40px 0px 20px 0px;

    .new-data {

        background-color: #000;
        color: #fff;
        display: inline-block;
        padding: 10px;
        position: relative;
        padding-bottom: 2px;
        text-align: center;

        p {
            font-size: 18px;
            font-family: "Myriad Pro Regular", sans-serif;
        }

        & span:first-child {
           
            font-size: 30px;
            font-family: "PT Sans Narrow", sans-serif;
            display: block;
            line-height: 0.7;
        }

        & span:last-child {
            
            font-size: 16px;
            font-family: "Myriad Pro Regular", sans-serif;
            line-height: 0.7;
        }

        &:before {

            position: absolute; 
            content: "";
            background-image: url('../img/Vector_Smart_Object.svg');
            background-repeat: no-repeat;
            width: 100%;
            height: 12px;
            bottom: -12px;
            left: 0px;
            right: 0px;

        }
    }

    .new {

        p {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            margin: 0px 18px;
        }


    }

    .once-new {
        
        display: flex;

        .new-data {
            align-self: start;
            margin: 10px 0px;
        }
        
    }
}


.reviews-wrap {
    padding: 40px 0px;
}

.slider {

    margin: 40px 0px;
    position: relative;

    .slide {
        display: flex;
        border: 1px solid #e5ddd5;
    }

    .slide-img {

        img {
            max-width: 250px;
        }
    }

    .slide-text {

        padding: 0px 70px;
        align-self: center;

        span {
            font-family: "PTSans NarrowBold", sans-serif;
            font-size: 24px;
            color: #000;
            font-weight: bold;
        }

        p {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            color: #000;
            margin: 6px 0px;
            line-height: 1.6;

        }

    }
}


footer {

    background-color: #292929;
    padding: 40px 0px;
    color: #fff;

    span {
        display: block;
        font-family: "Myriad Pro Regular", sans-serif;
        line-height: 2;
    }

    .foot-title {
        font-family: "PTSans NarrowBold", sans-serif;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }

    .social {
        text-align: center;
    }

    .social-wrap {
        display: flex;
        justify-content: center;
        padding: 10px 0px;

        a {
            display: inline-block;
            height: 48px;
            width: 48px;
            border: 1px solid #3f3f3f;
            padding-top: 9px;
            text-align: center;
            margin: 0px 4px;

            img {
                height: 26px;
                display: inline-block;
            }
        }
    }


    .designed-by {

        text-align: center; 
        
    }

}




.but-transparent-darck {
    border: 1px solid #3f3f3f;
    cursor: pointer;
    max-width: 150px;
    margin: 10px auto;
    height1: 48px;
    padding: 5.2px 2px;
    
    span {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        display: block;
        padding1: 14px;
        text-align: center;
    }


}


@media only screen and (max-width: 1280px){

    .slider {
        max-width: 1000px;
        margin: 40px auto;
    }

    .slider .slide {
        max-width: 1000px;
    }

}    

@media only screen and (max-width: 1200px){

    .wrap-logo .parent-logo {
        padding: 50px 0px 150px 0px;
    }

    .slider {
        max-width: 822px;
    }

}


@media only screen and (max-width: 992px){

    .main-menu li {
        padding: 0px 16px;
    }

    .number .nub .number-block .big-num {

        font-size: 52px;
    }

    .number .nub .number-block span {
        font-size: 18px;
    }

    .number .nub-text {

        padding: 26px 14px 2px 14px;

    }

    .number .nub-text h3 {
        font-size: 38px;
    }

    .number .nub-text p {
        font-size: 18px;
    }

    .number .nub-text span {
        font-size: 16px;
    }

    .owl-nav {
        display: none;
    }

    .info-block {
        max-width: 400px;
        margin: auto;
    }

    .foot-adres {
        text-align: center;
    }

    .paren-info p {
        font-size: 18px;
    }

    .info-wrap {
        padding-top: 220px;
    }

    .paren-info .title {
        padding: 14px 0px;
    }

    .paren-info div {
        margin-bottom: 46px;
    }

    .info-wrap {
        padding-bottom: 66px;
    }

    .header-triangle_image {
        height: 130px;
    }

}

@media only screen and (max-width: 768px){
   
    .main-menu {
        display1: none;
        position: fixed;
        height: auto;
        left: -100%;
        width: 100%;
        background-color: #404040;
        z-index: 1;
        text-align: center;
        padding-top: 30px;
        max-width1: 320px;
    }

    .but-menu {
        display: block;
    }

    body .but {
        float: none;
        margin-left: 26px;
    }

    .main-menu li {
        display: block;
    }

    .main-menu li a {
        padding: 20px 0px;
    }

    .main-menu li a:hover::after {
        display: none;
    }

    .but {
        float: right;
    }

    .number {
        flex-wrap: wrap;
    }

    .number>div {
        width: 100%;
    }

    .wrap-number {
        text-align: center;
    }


    .but-transparent {
        max-width: 200px;
    }

    .news-title {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .but-transparent {
        margin: auto;
    }

    .slider .slide {
        flex-wrap: wrap;
        text-align: center;
        display: block;
        padding: 20px 0px 10px 0px;
    }

    .number .nub-text {
        padding: 26px 14px 10px 14px;
    }

}


@media only screen and (max-width: 600px){
   
    .reviews-wrap {
        padding: 10px 0px;
    }

    footer {
        padding: 20px 0px;
    }

    .slider .slide {
        border: none;
    }

    .news-title {
        font-size: 34px;
    }

    .owl-dots {
        margin-top: 10px;
    }

}


@media only screen and (max-width: 540px){
    
    .news .once-new {

        flex-wrap: wrap;
    }

    .news .new-data span:first-child {
        display: inline-block;
    }

    .news .new-data::before {
        
        background-image: url("../img/Vector_Smart_Object3.svg");
        width: 10px;
        height: 100%;
        left: auto;
        right: -10px;
        top: 0px;
        bottom: auto; 
    }

    .news .once-new {
        padding-bottom: 12px;
    }

    .number .nub-text::before {
        display: none;
    }


}

@media only screen and (max-width: 480px){
    
    .parent-logo img {

       width: 100%;

    }

    .number .nub-text h3 {
        font-size: 26px;
    }


    .number .nub-text p {
        font-size: 16px;
    }

    .number .nub-text span {
        font-size: 14px;
    }

    .paren-info p {
        padding: 2px 4px;
        font-size: 16px;
    }


    .news .new p {
        font-size: 16px;
    }


    .news-title {
        font-size: 32px;
    }

    .slider .slide-text {
        padding: 0px 18px;
    }

    .wrap-logo {
        background-size: cover;
    }
      
}