@import url("normalize.css");
@import url("fonts.css");


.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-prev,
.owl-next {
    width: 50px;
    border: 1px solid #e5ddd5;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;

    img {
        max-width: 12px;
    }
}

.owl-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    max-height: 168px;
}

.owl-next {
    float: right;
    margin-right: -58px;
}

.owl-prev {
    float: left;
    margin-left: -58px;
}

.owl-dots {
    margin-top: 40px;
}

body .owl-dots .owl-dot {
   
   border-radius: 0px;
   border: 1px solid #858483;
   transform: rotate(45deg);
   cursor: pointer;
}

body .owl-dots .owl-dot.active {
    background-color: #353535;
}


.wrap-top {
	background-color: #000;
}

.main-menu {

	
	padding: 0px;
	margin: 0px; 
	

	li {
		display: inline-block;
        padding: 0px 30px;
		a {
			color: #fff;
			text-transform: uppercase;
			font-family: "PTSans NarrowBold", sans-serif;
			font-size: 18px;
			display: block;
            padding: 26px 0px;
            position: relative;
            
            


            &:hover::after {
            	position: absolute;
            	content: "";
            	width: 100%;
            	height: 3px;
            	background-color: #826550;
            	bottom: -3px;
            	left: 0px;
                right: 0px;
            }
		}
	}


}

.but {

    background-color: transparent;
    font-family: "PTSans NarrowBold", sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: 0px;
    padding: 26px 0px;
    position: relative;
    display: block;

    &:hover::after {
        background-image: url("../img/login-tablet-hover.png");
    }

    &::after {
    	position: absolute;
    	content: "";
    	background-image: url("../img/login.png");
    	width: 16px;
    	height: 16px;
    	left: -30px;
    	top: 32px;
    	background-size: cover;

    }

}

.wrap-logo {
    
    background-image: url('../img/bg-index.jpg');
    background-size1: cover;
    background-position: center 0px;
    padding-bottom: 175px;
    .parent-logo {

        padding: 50px 0px 260px 0px;
        text-align: center;
        
    }
}

header {

}

.wrap-number {

    background-color1: #353535;
   
}

.number {

    display: flex;
    max-width: 1110px;
    margin: -175px auto 0px auto;
    position: relative;
    z-index: 1;

    div {
        width: 33%;
        display: block;
    }

    & .nub:nth-child(2) {
        

        & div:nth-child(1) {
            background-color: #404040;
        }
    }

    & .nub:nth-child(2) {
        

        & div:nth-child(2) {
            background-color: #353535;
        }
    }

    & .nub:nth-child(3) {
        

        & div:nth-child(1) {
            background-color: #4e4e4e;
        }
    }

    & .nub:nth-child(3) {
        

        & div:nth-child(2) {
            background-color: #404040;
        }
    }

    .nub-text {
        background-color: #fff;
        padding: 40px 56px 2px 56px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/triangle.png');
            width: 23px;
            height: 23px;
            left: -23px;
            top: 40px;
        }

        h3 {
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 40px;
            color: #000;
            line-height: 1.2;
            margin: 0px;
           
        }

        p {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 20px;
        }

        span {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 20px;
            color: #000;
            opacity: 0.3;
        }
    }

    .nub {
        

        div {
            width: 100%;
            padding: 30px;
        }



        .number-block {

            .big-num {
                font-family: "PT Sans Narrow", sans-serif;
                font-size: 72px;
                color: #ffffff;
                display: block;
                line-height: 1.2;
            }


            span {
                font-family: "Myriad Pro Regular", sans-serif;
                font-size: 20px;
                color: #fff;
            }
        }
    }



} 

.info-wrap {
    background-color: #353535;
    margin-top: -175px;;
    padding-top: 250px;
    
    color: #fff;
    position: relative;
    padding-bottom: 200px;
}

.paren-info {

    img {
        max-width: 100px;
        height: 100px;
    }

    div {
        text-align: center;
    }

    .title {
        display: block;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 30px;
        padding: 26px 0px;
    }

    p {

        font-family: "Myriad Pro Regular", sans-serif;
        font-size: 20px;
        padding: 2px 46px;
        margin-top: 0px;
    }
}


.header-triangle_block {
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0rem auto;
}

.header-triangle_image {
    height: 180px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}





.news-title {

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;

}



.but-transparent {

    border: 1px solid #e5ddd5;
    cursor: pointer;

    &:hover span {
        color: #826550;
    }

    span {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: #000;
        display: block;
        padding: 14px;
        text-align: center;
    }
}


.news-wrap {
    border-bottom: 1px solid #e5ddd5;
}

.news {

    margin: 40px 0px 20px 0px;

    .new-data {

        background-color: #000;
        color: #fff;
        display: inline-block;
        padding: 10px;
        position: relative;
        padding-bottom: 2px;
        text-align: center;

        p {
            font-size: 18px;
            font-family: "Myriad Pro Regular", sans-serif;
        }

        & span:first-child {
           
            font-size: 30px;
            font-family: "PT Sans Narrow", sans-serif;
            display: block;
            line-height: 0.7;
        }

        & span:last-child {
            
            font-size: 16px;
            font-family: "Myriad Pro Regular", sans-serif;
            line-height: 0.7;
        }

        &:before {

            position: absolute; 
            content: "";
            background-image: url('../img/Vector_Smart_Object.svg');
            background-repeat: no-repeat;
            width: 100%;
            height: 12px;
            bottom: -12px;
            left: 0px;
            right: 0px;

        }
    }

    .new {

        p {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            margin: 0px 18px;
        }


    }

    .once-new {
        
        display: flex;

        .new-data {
            align-self: start;
            margin: 10px 0px;
        }
        
    }
}


.reviews-wrap {
    padding: 40px 0px;
}

.slider {

    margin: 40px 0px;
    position: relative;

    .slide {
        display: flex;
        border: 1px solid #e5ddd5;
    }

    .slide-img {

        img {
            max-width: 250px;
        }
    }

    .slide-text {

        padding: 0px 70px;
        align-self: center;

        span {
            font-family: "PTSans NarrowBold", sans-serif;
            font-size: 24px;
            color: #000;
            font-weight: bold;
        }

        p {
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            color: #000;
            margin: 6px 0px;
            line-height: 1.6;

        }

    }
}


footer {

    background-color: #292929;
    padding: 40px 0px;
    color: #fff;

    span {
        display: block;
        font-family: "Myriad Pro Regular", sans-serif;
        line-height: 2;
    }

    .foot-title {
        font-family: "PTSans NarrowBold", sans-serif;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }

    .social {
        text-align: center;
    }

    .social-wrap {
        display: flex;
        justify-content: center;
        padding: 10px 0px;

        a {
            display: inline-block;
            height: 48px;
            width: 48px;
            border: 1px solid #3f3f3f;
            padding-top: 9px;
            text-align: center;
            margin: 0px 4px;

            img {
                height: 26px;
                display: inline-block;
            }
        }
    }
}